header {
  width: 100%;
  height: 40px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  transition: 0.2s ease-in-out;
  z-index: 2;
  /* border-bottom: 0.5px solid #000000; */
}

header.clear {
  top: -60px;
  transition: 0.2s ease-in-out;
}

.logo-container {
  height: 100%;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 70%;
  aspect-ratio: 1 / 1;
}

.logo-text {
  height: 0.9em;
  margin-left: 0.3em;
  font-size: 1.5em;
  font-weight: 400;
  color: #FFFFFF;
}

nav {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.nav-a {
  margin: 0 0.7em;
  height: 0.8em;
  font-size: 1.2em;
  color: #FFFFFF;
  text-decoration: underline;
  text-decoration-color: #FFFFFF;
}

.nav-a:hover {
  text-decoration-color: #a8a8a8;
}

footer {
  width: 100%;
  height: 120px;
  margin: 0px auto 50px;
  background-color: #000000;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
}

.footer-contents {
  margin: 20px 15px 0;
  padding-bottom: 20px;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  margin: 0 5px;
}

.quote {
  font-weight: 300;
}

.email-text {
  margin-top: 0.5em;
  font-weight: 300;
}

.github-a, .github-logo {
  height: 30px;
  aspect-ratio: 1 / 1;
}

.email-a, .email-icon {
  padding-top: 1px;
  height: 40px;
  aspect-ratio: 1 / 1;
}

.copyright-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}

.copyright-text {
  font-weight: 500;
}

.go-top-button {
  border: none;
  background: transparent;
  font-weight: 300;
  text-decoration: underline;
  color: #FFFFFF;
  font-size: 1.1em;
}

.go-top-button:hover {
  cursor: pointer;
  text-decoration-color: #a8a8a8;
}

@media screen and (max-width: 580px) {
  .nav-a {
    text-decoration: none;
  }

  .go-top-button {
    text-decoration: none;
  }
}