body {
  background-color: #000000;
}

header {
  background-color: transparent;
}

header.black {
  background-color: #000000;
  transition: 0.2s ease-in-out;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: right;
  position: absolute;
  top: 0;
  left: 0;
}

.black-cover {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(transparent, #000000);
}

.main-about {
  width: calc(100vw - 30px);
  margin: 0 15px;
  color: #FFFFFF;
  position: absolute;
  bottom: 2em;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.main-about h1 {
  font-size: 3em;
  font-weight: 500;
  line-height: 1.5em;
}

.main-about a {
  width: 8.5em;
  margin-top: 1em;
  height: 1em;
}

.frame-button {
  padding: 0.5em;
  border: 0.5px solid #FFFFFF;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.frame-button:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.carousel-section {
  margin: 0 15px;
  padding-bottom: 50px;
  border-top: 0.5px solid #FFFFFF;
}

.carousel-container {
  margin: 20px 0;
  position: relative;
}

.carousel-title {
  font-family: 'Lora', serif;
  font-size: 2.3em;
  color: #FFFFFF;
}

.carousel {
  width: 80vw;
  height: 600px;
  margin: 90px auto 50px;
  overflow: hidden;
}

.slide-list {
  width: calc(9 * 80vw);
  height: 600px;
  display: flex;
}

.slide-item {
  width: 80vw;
  height: 100%;
  color: #FFFFFF;
  text-align: center;
}

.slide-image-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.slide-image-container img {
  height: 100%;
  object-fit: cover;
  margin: 0 0.7em;
}

.slide-item h1 {
  margin-top: 1.5em;
  font-size: 1.3em;
}

.slide-item h2 {
  margin-top: 1em;
  line-height: 1.2em;
}

.carousel-container button {
  width: 3em;
  aspect-ratio: 1 / 1;
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
}

.carousel-container button:hover {
  cursor: pointer;
}

.carousel-container button img {
  width: 100%;
  height: 100%;
}

.left-button {
  left: 1em;
  transform: scaleX(-1);
}

.right-button {
  right: 1em;
}

.carousel-section a {
  width: 8.5em;
  margin: 0 auto;
}

.essay-section {
  margin: 0 15px 50px;
  border-top: 0.5px solid #FFFFFF;
}

.essay-container {
  margin-top: 20px;
}

.essay-container-title {
  font-family: 'Lora', serif;
  font-size: 2.3em;
  color: #FFFFFF;
}

.essays {
  width: 80%;
  margin: 90px auto 50px;
  display: flex;
  justify-content: space-between;
}

.essay {
  width: 45%;
  background-color: #FFFFFF;
}

.essay img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.essay-text {
  margin: 1em 1em 0;
}

.essay h1 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 2.3em;
}

.essay p {
  margin-top: 3em;
  padding-bottom: 1em;
  line-height: 1.4em;
  word-break: keep-all;
}

.essay-section a {
  width: 8.5em;
  margin: 0 auto;
}



@media screen and (max-width: 580px) {
  .main-about {
    display: block;
  }

  .essays {
    display: block;
  }

  .essay {
    width: 100%;
  }

  .essay:nth-child(2) {
    margin-top: 30px;
  }

  .essay p {
    margin: 3em auto 0;
    padding-bottom: 1em;
    line-height: 1.4em;
  }
}